@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic,latin-ext);

body
{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    margin: 0;

    color: rgba(255,255,255,.40);
    background: url(../img/bg/bg.jpg) center top no-repeat #000;
    background-size: cover;
}
.container
{
    width: 1100px;
    margin: auto;
}
.content-container
{
    box-sizing: border-box;
    width: 780px;
    margin-top: 3px;
    margin-right: 20px;
}
.sidebar-container
{
    width: 300px;
}
.header
{
    height: 76px;
}
.header .logo-holder
{
    float: left;

    padding-top: 22px;
}
.header .logo-holder img
{
    width: 226px;
}
.header .header-left
{
    float: left;
}
.header .header-right
{
    float: right;

    padding-top: 14px;
}
.header .login-list
{
    list-style: none;
}
.navigation
{
    float: left;

    margin-left: 155px;
    padding-top: 28px;
}
.navigation .navigation-list
{
    list-style: none;
}
.navigation .navigation-list li
{
    margin-right: 34px;
}
.navigation .navigation-list li:last-child
{
    margin-right: 0;
}
.navigation .navigation-list li a
{
    line-height: 100%
    font-weight: 600;

    text-decoration: none;
    letter-spacing: 2;
    text-transform: uppercase;

    color: #fff;
}
.navigation .navigation-list li
{
    display: inline-block;
}

.promo .jackpot
{
    box-sizing: border-box;
    height: 257px;
    padding: 37px 30px;

    background: url(../img/bg_jackpot.png) left top -50px #36383e;
    background-size: 789px;
}
.promo .jackpot .btn{
    margin-top: 20px;
    padding-left: 26px;
    padding-right: 26px;
}
.main-jackpot-title
{
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;

    float: left;

    width: 350px;
    margin-bottom: 26px;

    color: #fff;
}
.right
{
    float: right;
}
.left
{
    float: left;
}
.btn
{
    font-size: 12px;
    font-weight: 600;
    line-height: 52px;

    display: inline-block;

    box-sizing: border-box;
    height: 50px;
    padding: 0 29px;

    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;

    border-radius: 40px;
}
.btn.yellow
{
    color: #25282E;
    background-color: #F6EA46;
}
.steam_ico.btn.action-login
{
    padding: 0 26px 0 50px;

    background-image: url(../img/steam_ico.svg);
    background-repeat: no-repeat;
    background-position: left 25px center;
    background-size: 16px;
}
.hidden
{
    display: none;
}
