body
{
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    background-color: #000;
}
.wrapper
{
    position: absolute;

    width: 100%;
    min-width: 1200px;
    min-height: 100%;

    background-color: #000;
    background-image: url(../files/imgs/gradient.png), url(../files/imgs/bg.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center top,center top;
    background-size: 100%, 100%;
    -webkit-transition: .1s blur;
       -moz-transition: .1s blur;
         -o-transition: .1s blur;
            transition: .1s blur;
}
.wrapper.blur{
    overflow: hidden;
    height: 100%;
    -moz-filter: blur(20px);
    -ie-filter: blur(20px);
    -webkit-filter: blur(20px);
    -o-filter: blur(20px);
    filter: blur(20px);
    -webkit-transition: .1s blur;
       -moz-transition: .1s blur;
         -o-transition: .1s blur;
            transition: .1s blur;
}
.gold,
.gold:hover
{
    color: #f6ae46;
}
a
{
    text-decoration: none;

    color: rgba(255,255,255,.40);
}
a:hover
{
    color: #fff;
}
.conatainer
{
    position: relative;

    width: 1100px;
    margin: auto;
}
.header:after,
.content:after,
.footer:after
{
    display: block;
    clear: both;

    content: '';
}
.header .navigation
{
    position: absolute;
    top: 23px;
    right: 0;

    display: inline-block;

    list-style: none;
}
.header .navigation li
{
    display: inline-block;

    margin: 0 8px;
}
.header .navigation li.avatar_item
{
    position: relative;

    width: 34px;
}
.header .navigation li.avatar_item .avatar_img
{
    position: absolute;
    top: -23px;
    right: 0;

    width: 34px;
    height: 34px;
    margin: 0;
}
.header .navigation li.avatar_item:before
{
    position: absolute;
    top: 16px;
    right: 8px;

    display: inline-block;
    visibility: hidden;

    width: 20px;
    height: 8px;

    content: '';

    opacity: 0;
    background: url(../files/imgs/filter_list_arrow.png) left top no-repeat;
}
.header .navigation li.avatar_item:hover
{
    margin-bottom: -32px;
    padding-bottom: 32px;
}
.header .navigation li.avatar_item:hover .usr_manage,
.header .navigation li.avatar_item:hover:before
{
    visibility: visible;

    -webkit-transition: .1s all;
       -moz-transition: .1s all;
         -o-transition: .1s all;
            transition: .1s all;

    opacity: 1;
}
.header .navigation li.avatar_item .usr_manage
{
    position: absolute;
    z-index: 99;
    top: 13px;
    right: 0;

    display: inline-block;
    visibility: hidden;

    box-sizing: border-box;
    min-width: 220px;
    max-width: 300px;
    margin-top: 11px;

    list-style: none;

    opacity: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
}
.header .navigation li.avatar_item .usr_manage .usr_manage_item
{
    font-size: 16px;
    line-height: 20px;

    box-sizing: border-box;
    width: 100%;
    min-height: 61px;
    margin: 0;
    padding: 21px 18px 18px 20px;

    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, .08);
    background: #404247;
}
.header .navigation li.avatar_item .usr_manage .usr_manage_item.text
{
    font-size: 14px;
    line-height: 19px;

    min-width: 300px;

    cursor: default;
    text-transform: none;

    color: rgba(255,255,255,.40);
}
.header .navigation li.avatar_item .usr_manage .usr_manage_item.text:hover
{
    background: #404247;
}
.header .navigation li.avatar_item .usr_manage .usr_manage_item:first-child
{
    border-color: transparent;
}
.header .navigation li.avatar_item .usr_manage .usr_manage_item:hover
{
    background-color: #4e5055;
}
.header .logo_wrap
{
    width: 100%;
    padding-top: 90px;
    padding-bottom: 91px;

    text-align: center;
}
.header .logo_wrap .logo
{
    display: inline-block;

    width: 290px;
    height: 48px;

    background: url(../files/imgs/logo.svg) left top no-repeat;
    background-size: 290px;
}
.header .logo_wrap .logo_text
{
    font-size: 20px;
    line-height: 27px;

    width: 300px;
    margin: 10px auto auto auto;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #fff;
}
.content
{
    padding-bottom: 101px;
}
.content .table_hedear
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 64px;

    background: rgba(36,40,46,.95);
}
.content .table_hedear .search
{
    position: absolute;
    top: 12px;
    right: 12px;

    width: auto;
}
.content .table_hedear .search .search_text
{
    font-size: 14px;
    line-height: 19px;

    position: absolute;
    top: 0;
    right: 0;

    overflow: hidden;

    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding-left: 36px;

    cursor: pointer;
    -webkit-transition: .2s width, .7s background-color;
       -moz-transition: .2s width, .7s background-color;
         -o-transition: .2s width, .7s background-color;
            transition: .2s width, .7s background-color;

    color: transparent;
    border-radius: 40px;
    background: url(../files/imgs/search_sprite.svg) no-repeat;
    background-position: 0 12px;
}
.content .table_hedear .search .search_text:hover
{
    background-color: #33353b;
}
.content .table_hedear .search .search_text:focus,
.content .table_hedear .search .search_text.active
{
    visibility: visible;

    width: 220px;

    cursor: default;
    -webkit-transition: .2s width;
       -moz-transition: .2s width;
         -o-transition: .2s width;
            transition: .2s width;

    opacity: 1;
    color: #25272c;
    background-color: #fff;
    background-position: 0 -49px;
}
.content .filter
{
    float: left;

    box-sizing: border-box;
    height: 64px;
    padding: 22px 25px;

    list-style: none;
}
.content .filter .filter_item
{
    font-size: 16px;
    line-height: 20px;

    position: relative;

    display: inline-block;

    margin-right: 28px;

    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #f6ae46;
}
.content .filter .filter_item:last-child
{
    margin-right: 0;
}
.content .filter .filter_item:after
{
    position: relative;
    top: -2px;
    right: -1px;

    display: inline-block;

    width: 12px;
    height: 7px;

    content: '';

    background: url(../files/imgs/icons-color-20.png) no-repeat;
    background-position: -4px -366px;
}
.content .filter .filter_item:before
{
    position: absolute;
    top: 23px;
    right: -5px;

    display: inline-block;
    visibility: hidden;

    width: 20px;
    height: 8px;

    content: '';

    opacity: 0;
    background: url(../files/imgs/filter_list_arrow.png) left top no-repeat;
}
.content .filter .filter_item:hover
{
    margin-bottom: -11px;
    padding-bottom: 11px;
}
.content .filter .filter_item .filter_list,
.content .filter .filter_item:before
{
    -webkit-transition: .2s all;
       -moz-transition: .2s all;
         -o-transition: .2s all;
            transition: .2s all;
}
.content .filter .filter_item:hover .filter_list,
.content .filter .filter_item:hover:before
{
    visibility: visible;

    -webkit-transition: .1s all;
       -moz-transition: .1s all;
         -o-transition: .1s all;
            transition: .1s all;

    opacity: 1;
}
.content .filter .filter_item .filter_list
{
    position: absolute;
    z-index: 99;
    left: 0;

    visibility: hidden;

    box-sizing: border-box;
    min-width: 220px;
    max-width: 280px;
    margin-top: 11px;

    list-style: none;

    opacity: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
}
.content .filter .filter_item .filter_list li
{
    font-size: 16px;
    line-height: 20px;

    box-sizing: border-box;
    min-height: 61px;
    padding: 21px 18px 18px 20px;

    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, .08);
    background: #404247;
}
.content .filter .filter_item .filter_list li.remove
{
    color: rgba(255, 255, 255, .4);
}
.content .filter .filter_item .filter_list li.remove:hover
{
    background: #404247;
}
.content .filter .filter_item .filter_list li:first-child
{
    border-color: transparent;
}
.content .filter .filter_item .filter_list li:hover
{
    background-color: #4e5055;
}
.content .filter .filter_item .country_flag
{
    padding-left: 28px;
}
.content .filter .filter_item .country_flag:before
{
    position: absolute;
    left: 2px;

    display: inline-block;

    width: 18px;
    height: 12px;
    margin-top: 3px;

    content: '';
}
.content .filter .filter_item .filter_list li .country_flag:before
{
    position: absolute;
    left: 20px;

    display: inline-block;

    width: 18px;
    height: 12px;
    margin-top: 4px;

    content: '';
}
.content .row,
.content .rating_table
{
    width: 100%;

    background: rgba(54,56,62,.95);
}
.content .rating_table tr
{
    box-sizing: border-box;
    height: 65px;

    border-bottom: 1px solid #3d3f45;
}
.content .rating_table tr td,
.content .rating_table tr th
{
    font-size: 16px;
    line-height: 20px;

    position: relative;

    box-sizing: border-box;
    padding-left: 20px;

    text-align: left;
    vertical-align: middle;

    color: rgba(255,255,255,.6);
    border-right: 1px solid #3d3f45;
}
.content .rating_table tr td:last-child,
.content .rating_table tr th:last-child
{
    border-right: 0;
}
.content .rating_table tr th
{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

    position: relative;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
}
.content .rating_table td.num,
.content .rating_table th.num
{
    width: 63px;
    padding: 0;

    text-align: center;
}
.content .rating_table tr.rank_1 td.num,
.content .rating_table tr.rank_2 td.num,
.content .rating_table tr.rank_3 td.num
{
    color: transparent;
}
.content .rating_table tr.rank_1 td.num:after,
.content .rating_table tr.rank_2 td.num:after,
.content .rating_table tr.rank_3 td.num:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 38px;
    height: 38px;
    margin: auto;

    content: '';

    background: url(../files/imgs/num_lider.svg) left top no-repeat;
    background-size: 38px;
}
.content .rating_table tr:nth-child(3) td.num:after
{
    background-position: 0 -38px;
}
.content .rating_table tr:nth-child(4) td.num:after
{
    background-position: 0 -76px;
}
.content .rating_table td.player,
.content .rating_table th.player
{
    width: 276px;
}
.content .rating_table td.player
{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.content .rating_table td.player img.player_avatar
{
    position: absolute;

    width: 34px;
    height: 34px;
    margin-top: -6px;
}
.content .rating_table td.player span.player_name
{
    padding-left: 50px;
}
.content .rating_table td.country,
.content .rating_table th.country
{
    width: 180px;
}
.content .rating_table td.country .country_flag
{
    padding-left: 28px;
}
.content .rating_table td.country .country_flag:before
{
    position: absolute;
    left: 20px;

    display: inline-block;

    width: 18px;
    height: 12px;
    margin-top: 4px;

    content: '';
}
.content .rating_table td.kp_round,
.content .rating_table th.kp_round
{
    width: 193px;
}
.content .rating_table td.dp_round,
.content .rating_table th.dp_round
{
    width: 191px;
}
.content .rating_table td.mvp,
.content .rating_table th.mvp
{
    width: 193px;
}
.content .rating_table th span
{
    padding-left: 26px;
}
.content .rating_table th span:before
{
    position: absolute;
    left: 20px;

    display: inline-block;

    width: 20px;
    height: 20px;

    content: '';

    background: url(../files/imgs/icons-white-20.svg) no-repeat;
    background-size: 20px;
}
.content .rating_table th span.player_ico:before
{
    margin-top: -2px;

    background-position: 0 0;
}
.content .rating_table th span.country_ico:before
{
    margin-top: -2px;

    background-position: 0 -20px;
}
.content .rating_table th span.kp_round_ico:before
{
    margin-top: -2px;

    background-position: 0 -40px;
}
.content .rating_table th span.dp_round_ico:before
{
    margin-top: -2px;

    background-position: 0 -60px;
}
.content .rating_table th span.mvp_ico:before
{
    margin-top: -2px;

    background-position: 0 -80px;
}
.content .page_navigation_wrap
{
    box-sizing: border-box;
    width: 100%;
    height: 84px;

    text-align: center;

    background: rgba(54,56,62,.95);
}
.content .page_navigation_block
{
    position: relative;

    display: inline-block;

    margin-top: 25px;
}
.content .page_navigation_block .btn_prev,
.content .page_navigation_block .btn_next
{
    position: absolute;
    top: 7px;

    display: inline-block;

    width: 34px;
    height: 20px;

    cursor: pointer;

    background: url(../files/imgs/icons-white-20.svg) no-repeat;
    background-size: 20px;
}
.content .page_navigation_block .btn_prev
{
    left: -34px;

    background-position: 6px -320px;
}
.content .page_navigation_block .btn_next
{
    right: -34px;

    background-position: 6px -340px;
}
.content .page_navigation_block .btn_prev.disabled,
.content .page_navigation_block .btn_next.disabled
{
    cursor: default;

    opacity: .4;
}
.content .page_navigation_block .btn_prev.disabled:after,
.content .page_navigation_block .btn_next.disabled:after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
}
.content .page_navigation_block .page_navigation
{
    list-style: none;
}
.content .page_navigation_block .page_navigation li
{
    font-size: 16px;
    line-height: 36px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 34px;
    height: 34px;
    padding: 0 10px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;

    color: #fff;
}
.content .page_navigation_block .page_navigation li.active
{
    color: #33353b;
    background-color: #f6ae46;
}
.row.banner_block
{
    padding-top: 64px;
    padding-bottom: 64px;

    text-align: center;
}
.content .row.banner_block .banner
{
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 620px;
    padding: 23px 25px 28px 25px;

    text-align: left;

    background: url(../files/imgs/pattern.png) left 3px top -27px no-repeat #404247;
}
.content .row.banner_block .banner_title
{
    font-size: 34px;
    line-height: 44px;

    display: block;

    color: #8dc5f2;
}
.content .row.banner_block .banner_text
{
    font-size: 16px;
    line-height: 22px;

    display: block;

    padding-top: 5px;

    color: rgba(255,255,255,.40);
}
.content .row.banner_block .banner_steam_ico
{
    position: absolute;
    top: 39px;
    right: 25px;

    display: inline-block;

    width: 114px;
    height: 43px;

    background: url(../files/imgs/steam_ico.png) left top no-repeat;
}
.footer
{
    font-size: 14px;
    line-height: 19px;

    position: relative;

    padding-bottom: 26px;

    letter-spacing: 1px;

    color: rgba(255,255,255,.30);
}
.footer .navigation
{
    position: absolute;
    top: 0;
    right: 0;

    display: inline-block;

    height: 20px;

    list-style: none;
}
.footer .navigation li
{
    display: inline-block;

    margin: 0 8px;
}
.footer .navigation li .navigation_item
{
    font-size: 14px;
    line-height: 19px;

    padding: 0 5px;

    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: rgba(255,255,255,.30);
}
.footer .navigation li .navigation_item:hover
{
    color: #fff;
}
.footer .left
{
    float: left;
}
.footer .middle
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    width: 160px;
    margin: auto;

    text-align: center;
}
.footer .middle:before,
.footer .middle:after
{
    position: absolute;
    top: -1px;

    display: inline-block;

    width: 20px;
    height: 20px;

    content: '';

    opacity: .3;
    background-image: url(../files/imgs/icons-white-20.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 20px;
}
.footer .middle:after
{
    right: 0;

    background-position: 0 -60px;
}
.footer .middle:before
{
    left: 0;

    background-position: 0 0;
}
.modal_block_wrap
{
    position: absolute;

    overflow-x: hidden;
    overflow-y: scroll;

    width: 100%;
    height: 100%;

    text-align: center;

    background: rgba(0, 0, 0, .6);
    visibility: hidden;
    opacity: 0;
}
.modal_block_wrap.show{
    visibility: visible;
    opacity: 1;
    z-index: 99;    
}
.modal_block_wrap,
.modal_block_wrap.show{
    -webkit-transition: .2s all;
       -moz-transition: .2s all;
         -o-transition: .2s all;
            transition: .2s all;
}
.modal_block.sign_in
{
    display: inline-block;

    width: 660px;
    height: 185px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.modal_block.sign_in .title{
    font-size: 45px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 47px;
    display: block;
}
.modal_block.sign_in .text{
    display: block;
    margin-top: 10px;
    font-size: 18px;
    color: rgba(255,255,255,0.60);
    line-height: 30px;
}
.modal_block.sign_in .text .steam_ico{
    margin-top: 17px;
    display: inline-block;  
}
.modal_block.qanda
{
    display: inline-block;

    width: 660px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.modal_block.qanda .title{
    padding: 88px 0 50px 0;
    text-align: center;
    font-size: 45px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 47px;
    display: inline-block;
    position: relative;
}
.modal_block.qanda .title:after{
    content: '';
    margin: auto;
    position: absolute;
    bottom: 2px;
    right: 0;
    left: 0;
    height: 1px;
    width: 60px;
    background: rgba(255, 255, 255, .2);
    display: inline-block;
}
.modal_block.qanda .questons_list{
    list-style: none;
    margin-top: 76px;
    padding-bottom: 80px;
}
.modal_block.qanda .questons_list .qusnions_list_item:first-child{
    margin-top: 0;
}
.modal_block.qanda .questons_list .qusnions_list_item{
    display: block;
    text-align: left;
    margin-top: 80px;
}
.modal_block.qanda .questons_list .qusnions_list_item .question{
    font-size: 30px;
    color: #FFFFFF;
    line-height: 39px;
    margin-bottom: 15px;
}
.modal_block.qanda .questons_list .qusnions_list_item .answer{
    font-size: 18px;
    color: rgba(255,255,255,0.60);
    line-height: 30px;
}
.modal_block_wrap .close_btn{
    position: absolute;
    right: 0;
    top: 0;
    opacity: .4;
    background: url(../files/imgs/icons-white-30.png) right 25px top 25px no-repeat;
    width: 80px;
    height: 80px;
    display: block;
    cursor: pointer;
}
.modal_block_wrap .close_btn:hover{
    opacity: 1;
}
.modal_block_wrap .close_btn,
.modal_block_wrap .close_btn:hover{
    -webkit-transition: .2s all;
       -moz-transition: .2s all;
         -o-transition: .2s all;
            transition: .2s all;
}
