body{
	background-color: #000;
	background-image: url(../files/imgs/gradient.png), url(../files/imgs/bg.jpg), url(../files/imgs/bg.jpg); 
	background-position: center top,center top;
	background-repeat: no-repeat, no-repeat;
	background-size: 100%, 100%, 100%;
}
body.page_bg{
	background-image: url(../files/imgs/bg_blur.jpg); 
}
